.App {
  text-align: center;
}

.bookitem {
  margin: 50px;
  border: 1px solid black;
  padding: 10px;
}

.bookitem-header {
  display: flex;
  justify-content: space-between;
}

.bookitem-title {
  margin-bottom: 10px;
}

.bookitem-body {
  display: flex;
  justify-content: space-between;
}

.booksearch {
  text-align: left;
  border: 1px solid;
  padding: 10px;
}

.booksearch-button {
  display: block;
}

.booksearch-search {
  width: 100%;
}

.booksearch-view-button {
  color: #ffffff;
  text-decoration: none;
}